
<div class="card-div text-center">
  <h1 *ngIf="!isLoading"> Your cards from:  <i> {{deckName}}</i> </h1>
  <h1 class="text-center" *ngIf="  !isLoading && !cards.length">You have no cards in this deck.</h1>
  <div class= card *ngFor="let c of cards">
    <div class="card-info">
      <h1>{{c.value}}</h1>
      <h1 *ngIf="c.suit.length===1">{{c.suit}}</h1>
      <h4 *ngIf="c.suit.length>1">{{c.suit}}</h4>
    </div>
    <div class="card-image">
      <img src="{{c.image}}" alt="">
    </div>


    <div class=" card-buttons">
      <div class="card-buttons-container">
        <button class="edit-deck" [routerLink]="['/decks', deckId, 'card', c.id]" (click)="onEdit()">
          <span>
            <i class="fas fa-pencil-alt"></i>
          </span>
        </button>
        <button class="delete-deck" (click)="onDeleteCard(c.id, $event)">
          <span>
            <i class="fas fa-trash-alt"></i>
          </span>
        </button>
      </div>
    </div>

  </div>

  <h3 class="text-center" *ngIf="isLoading">Loading Cards...</h3>
  <div class="loader text-center" *ngIf="isLoading"></div>

  <div class="text-center">
    <a class="text-center" *ngIf="!isLoading"
      [routerLink]="['/decks',deckId, 'card','create']"
    >
      Create a new card.
    </a>
  </div>


  <app-popup #deletePopup [popupTitle]="'Warning!'" [buttonTiles]="['Cancel','Accept']" (accept)="onAcceptDelete()">
    <p> Do you want to delete the Card?</p>
  </app-popup>

</div>