<div class="row about" *ngIf="aboutProject">
  <div class="">
    <div class="column">
      <h1>{{ aboutProject?.title }}</h1>
      <h3>{{ aboutProject?.subtitle }}</h3>
      <p>{{ aboutProject?.description }}</p>
      <p>{{ aboutProject?.author }}</p>
    </div>
  </div>
  <div class="">
    <div class="column">
      <h1>{{ getFullName() }}</h1>
      <h4>{{ author.bio }}</h4>
      <div *ngFor="let link of author.socialLinks">
        <a target="_blank" [href]="link.url">{{link.name}}</a>
      </div>
    </div>
  </div>
</div>
<div class="text-center" style="margin-top: 5em;">
  <a   class="" href="" [routerLink]="'/login'">Click here to log in</a>
</div> 