<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"-->



<div class="row login">
  <div class="column">
    <h1 class="text-center">♢ JEDI Cards ♢</h1>
    <h4 class="text-center">Inicie sesión a la aplicación</h4>
    <form action="">
      <div class="field">
        <label class="label" for="">Email</label>
        <input type="text" 
        name="username"
        placeholder="Email"
        [(ngModel)]="email"
        >
      </div>
      <div class="field">
        <label for="">Password</label>
        <input type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="password"
        #pwd = "ngModel" 
        >
        <small *ngIf="!onCheckPassword() && pwd.dirty">
          El password debe tener mínimo {{minLengthPassword}} letras.
        </small>
      </div>
    </form>
    <br>  
    <button class="button"
    (click)="onSend()"
      [class.disabled] = "!password || !email"
      ><span>{{ isLoading? "Loading..." : "Log In"}}</span></button>

    <p>
      If you don't have an account, you can create one
      <a [routerLink]="'/signin'">here</a>
    </p>
  </div>
</div>