/* You can add global styles to this file, and also import other style files */
html {
    overflow-x: hidden;
}

.main-content {
    max-width: 1000px;
    margin: auto;
}

h1,h2,h3,h4,h5,h6 {font-family: 'Arvo', serif; }
body {font-family: 'Open Sans', sans-serif;}
.not_found {
    margin-top: 15em;
    text-align: center;
}
.column, .row {
    align-content: center;
    text-align: center;
    
}
.text-center {
    text-align: center;
}
.login, .signin  {
    padding-top: 50px;
    padding-bottom: 100px;
    max-width: 600px;
    margin: auto;
}
.field {
    max-width: 400px;
    margin: auto;
    margin-top: 1em;
    text-align: left;
}


input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
  display: inline-block;
  border-radius: 44px;
  background-color: #1263f8;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 0.8;
  right: 0;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;    
}