<div class="main-container text-center">
  <h1 class="text-center">Your decks</h1>

  <div *ngIf="!decks.length && !isLoading">
    <h2>You have no decks created.</h2>
  </div>

  <div class="card deck"
  *ngFor="let d of decks">
    <div class="card-container">

      <div class="deckinfo"> 
        <a href=""  [routerLink]="['/decks',d.id, 'cards']">
          <h2> {{d.title}} </h2>
        </a>
        <p>{{ d.description }}</p>
      </div>
      
      <div class="deckbutton">
        <button class="edit-deck"
           [routerLink]= "['/deck', d.id]"
           (click)="onEdit()"
        >
          <span>
            <i class="fas fa-pencil-alt"></i>
          </span>
        </button>
        <button class="delete-deck"
        (click)="onDeleteDeck(d.id, $event)">
          <span>  
            <i class="fas fa-trash-alt"></i>
          </span>
        </button>
      </div>
    </div>
  </div>

  <h3 class="text-center" *ngIf="isLoading">Loading Decks...</h3>
  <div class="loader text-center"  *ngIf="isLoading"></div>
 
  <a [routerLink]="'/deck/create'">Create a new deck.</a>
  <app-popup
    #deletePopup
    [popupTitle]="'Warning!'"
    [buttonTiles]="['Cancel','Accept']"
    (accept) = "onAcceptDelete()"
  >
     <p> Do you want to delete the Deck?</p>
     <!--button class="button">
       Cancel
     </button>
    <button class="button btn-accept">
      Accept
    </button-->
  </app-popup>
</div>




